html {
    background-color: black;
}

body {
    background-color: black;
    color: white;
    font-family: monospace;
}

#appcontainer {
    display: grid;
    grid-template-rows: 1fr auto auto;
    grid-template-columns: 1fr auto 1fr;
    grid-template-areas: "c1 m1 p1"
                         "c2 m1 p2"
                         "l1 l1 l1";
    gap: 4px;
}

.info {
    margin: 0px;
    padding: 16px;
}

#defaultCanvas0 {
    margin: 0px;
    padding: 0px;
    grid-area: m1;
}

#currentcell {
    background-color: #03875b;
    grid-area: c1;
}

#playerdata {
    background-color: #5587b1;
    grid-area: p1;
}

#cellbuttons {
    background-color: #0387b1;
    grid-area: c2;
}

#playerbuttons {
    background-color: #746374;
    grid-area: p2;
}

#uilog {
    background-color: black;
    grid-area: l1;
}