html {
    background-color: black;
}

body {
    background-color: black;
    color: white;
    font-family: monospace;
}

#appcontainer {
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-columns: 1fr auto 1fr;
    grid-template-areas: "info1 main info2"
                         "info3 main info2";
    gap: 4px;
}

.info {
    margin: 0px;
    padding: 16px;
}

#defaultCanvas0 {
    margin: 0px;
    padding: 0px;
    grid-area: main;
}

#info1 {
    background-color: green;
    grid-area: info2;
}

#currentcell {
    background-color: #03875b;
    grid-area: info1;
}

#info2 {
    background-color: blue;
    grid-area: info3;
}